

<div class="container" >
     {{!-- style="margin-top: 120px;align-items: center;"> --}}
<div class="wrapper" style="align-items: center;margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px;" >
    {{!-- style="    margin-left: 140px;border: black;"> --}}
    <div class="title-text">
        <div class="title login">
            Login Form</div>
        <div class="title signup">
            Signup Form</div>
    </div>
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked>
            <input type="radio" name="slide" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup">Signup</label>
            <div class="slider-tab">
            </div>
        </div>


        <!-- login    form-->
        <div class="form-inner">
            <form action="/login" method="POST" class="login">
                {{#if loginErr}}
                <p class="error" style="background: blanchedalmond;">{{loginErr}}</p>
                {{/if}}
                <div class="field">
                   
                    <input type="email" class="form-control" name="Email" placeholder="Enter Email">
                </div>


                <div class="field">
                   
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div><br>
                {{!-- <div class="pass-link">
                    <a href="#">Forgot password?</a></div> --}}
                <div class="field btn">
                    <div class="btn-layer">
                    </div>
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">
                    Not a user? <a href="/signup">Signup now</a></div>
            </form>

 <!-- signup    form-->


            <form action="/signup" method="POST" class="signup">
                <div class="field">
                  
                    <input type="text" class="form-control" name="Name" placeholder="Enter Name">
                </div>
                <div class="field">
                   
                    <input type="email" class="form-control" name="Email" placeholder="Enter Email">
                </div>
                <div class="field">
                    
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                 

                <div class="field btn">
                    <div class="btn-layer">
                    </div>
                    <input type="submit" value="Signup">
                </div>
                  <div class="signup-link">
                    already have account ? <a href="/login">Login now</a></div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (() => {
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (() => {
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (() => {
        signupBtn.click();
        return false;
    });
</script>
