<div class="row">
    <div class="col-md-6">
        <div class="container mt-5 " style="margin: 85px;    padding-left: 180px;
    padding-right: 180px;
">
            <h1 class="text-center">create new account</h1>
        <form action="/signup" method="POST" style=" padding: 20px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;" >
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Enter Name">
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" name="Email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label>password</label>
                <input type="password" class="form-control" name="Password" placeholder="Password">
            </div>
            <a href="/login">already have account ?</a>
            <button type="submit" class="btn btn-primary float-right">signup</button>
        </form>
        </div>
    </div>
</div>
