<style>

  .card {
    --borderWidth: 5px;
    
    position: relative;
    border-radius: var(--borderWidth);
  }
  .card:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
</style> 

    <section style="margin-top: 25px;">
        <div class="container-fluid">
            <div class="row" style=" ">
                {{#each products}}
               
                 <div class="col-md-3,col-sm-6"
                 style="padding:30px">
                     
                    <div class="card" style="height: 25rem;width: 15rem;" >
                        

                        <img class="card-img-top"
                            src="/product-image/{{this._id}}.jpg"
                            alt="Card image cap"
                            style="height: 15rem;padding: 1rem;">
                        <div class="card-body">
                            <h5 class="card-title" style="padding: .5rem;">{{this.name}}</h5>
                            <h4 class="card-text" style="">{{this.Price}}</h4>
                        </div>
                        <div class="form-inline my-2 my-lg-0"  style=" 
    margin-left: 1rem;
    padding: 7px;"  > 
                            <button  onclick="addToCart('{{this._id}}')" class="btn btn-primary  " style="padding: 9px;">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>Add to Cart</button>


                       
    
                        </div>
                    </div> 
                </div>
                {{/each}}
                </div>
                 
            </div>
            
        </div>
    </section>
